body{
	background: #EEEEEE;
	margin: 0;
	padding:0;

}
.header{
	background: #404040;
	display: inline-block;
	width: 100%;
	position: fixed;
	top:0px;
	height:80px;
	
}
.header h3{
	text-align: center;
}
.content{
	background: #bafffb;
	padding-top: 80px;


}

.content .sidebar{
	width: 300px;
	background: #01f7ea;
	float: left;
	position: fixed;
	
}
.content .sidebar ul li{
	list-style-type: none;
	padding: 5px;
	margin-left: -25px;

}
.content .sidebar a{
	text-decoration: none;
	background: white;
	display: block;
	color:black;
}

.content .main-content{
	padding-left: 300px;
	background: #bafffb;
	height: 8000px;
}

.content .main-content div{
	
}

.content .main-content .intro{
	/*background: #16bab0;*/
	position: relative;

	
}
.content .main-content .intro .inner-intro{
	background: #3be5db;
	position: absolute;
	height: 100px;
	bottom:0px;
	
}

.footer{
	background: #CCCCCC;
	display: inline-block;
	width: 100%;
	
}
xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:90%;
    white-space: pre-wrap;
}
.code{
    width:49%;
    display: inline-block;
}
.preview{
    width: 50%;
    display: inline-block;

}